<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BCITApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7699F8C01BF62DD9000E1819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7699F8D61BF62DDA000E1819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7699F8E11BF62DDA000E1819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
